<dl>
    <dt>Name:</dt>
    <dd class="product-name">
        <%= name %>
    </dd>
    <dt>Price:</dt>
    <dd class="product-price">
        <%= price %>
    </dd>
    <dt>Promotion</dt>
    <dd class="product-promotion">No</dd>
</dl>
<!-- 
    // Create template function
    fetch('/product-details.tpl.html').then(function(tpl){
      prodTpl = _.template(tpl)  
    })

    // Render html using temlate function + product data
    fetch('/products/1').then(function(product){
      
       elem.innerHTML = prodTpl(product)
    })



 -->